/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: relative;
    background: transparent;
    background-color: #000000; /* Dark blue hue */
    font-weight: 700;
    /*padding-left: 250px; */
}
  
a {
    color: #12d640;
}

a:hover {
    color: #12d640;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
  
header {
    text-align: left;
}

.social-media a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
}

footer {
    position: absolute;
    bottom: 10px;
}

/* Social Icons Styling */
.social-icons {
    display: flex;
    justify-content: left; /* Center the icons horizontally */
    gap: 20px; /* Add space between icons */
}

.social-icons a {
    color: #000; /* Icon color */
    font-size: 40px; /* Icon size */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.social-icons a:hover {
    color: #0077b5; /* LinkedIn blue for hover effect, change as desired */
}

#ascii-art {
    width: 900px; /* Adjust the width according to your content's maximum width during animation */
    overflow-x: hidden; /* Prevent horizontal overflow from being visible */
    color: #12d640;
}

#about {
    max-width: 900px; 
    margin: auto; 
}

/* Add this to your app.css */
.about-title {
    display: inline-block;
    position: relative; /* This makes the pseudo-element positioning relative to the title */
    color: #12d640;
    font-size: 2rem;
    width: 900px; 
}

.about-title::after {
    content: ''; /* This is necessary for the pseudo-element to display */
    position: absolute;
    top: 110%; /* Aligns the line vertically to the middle of the text */
    left: 0%; /* Starts the line right after the text */
    width: 900px; /* Adjusts the line length; modify as needed */
    border-bottom: 4px solid #12d640; /* Customize the line color and thickness */
    transform: translateY(-50%); /* Ensures the line is centered vertically with respect to the text */
}

.profile-container { 
    display: flex;
    align-items: flex-start; /* Aligns the items to the top of the container */
    gap: 20px; /* Adjust the gap between the image and the text as needed */
    border-radius: 50%; 
    object-fit: cover; 
    padding-left: 8px; 
}

.profile-container p {
    margin-top: 0; /* Removes the top margin from the paragraph */
}

.text-container ul {
    list-style: none; /* Removes default list bullets */
    padding: 0; /* Removes default padding */
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    gap: 10px; /* Adjusts the gap between grid items */
    list-style-type: none; /* Removes default list bullets */
}

.info-grid li {
    display: flex;
    align-items: center; /* Centers the icon and text vertically */
}

.info-grid li i {
    margin-right: 8px; /* Adjusts spacing between the icon and text */
}


.text-container p, .text-container ul {
    margin: 0; /* Removes default margin from paragraphs and lists */
    padding-left: 20px; /* Adds some padding for text alignment */
    padding-bottom: 20px; 
}


.profile-pic {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio of the image */
    padding-left: 10px; 
    border-radius: 50%; 
    object-fit: cover; 
    padding: 3px; 
    background-color: #FFF; 
    box-sizing: border-box;
}

.rain-animation-container {
    position: relative;
    height: 400px; /* Adjust based on your preference */
    overflow: hidden;
}

.windows .window-line {
    height: 2px;
    background-color: #fff; /* White lines */
    width: 80%;
    position: relative;
}

/* Basic symbol styling */
.symbol {
    position: absolute;
    width: 30px; /* Adjust based on your symbol size */
    height: auto;
    z-index: 1; /* Ensure symbols are behind the window lines (adjust as needed) */
}

@keyframes fall {
    0% { top: -50px; }
    100% { top: 100%; }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* Ensuring black background for contrast */
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Behind the text */
}

.header-text {
    position: relative;
    color: #fff;
    z-index: 2; /* Ensures the text is above the particles */
    margin-top: -100px; /* Adjust based on your layout needs */
}

.particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #00ff00; /* Green color for visibility */
    opacity: 0.2;
}

#coinContainer .coin {
    position: fixed;
    width: 80px; /* Smaller width for the coins */
    height: 80px; /* Adjust height to maintain aspect ratio */
    top: 0;
}

#bitcoinAnimation {
    left: 0;
}

#ethereumAnimation {
    right: 0;
}
