/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: relative;
    background: transparent;
    height: auto; 
    width: auto; 
    /*padding-left: 250px; */
}

body, html {
    min-height: 100vh;
    margin-top: 0;
    padding: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; /* Ensuring black background for contrast */
    border-right: dashed red; 
    border-left: dashed red; 
}
  
a {
    color: #12d640;
}

a:hover {
    color: #12d640;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
  
header {
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
}

.social-media a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
}

footer {
    position: absolute;
    bottom: 10px;
}

/* Social Icons Styling */
.social-icons {
    display: flex;
    justify-content: left; /* Center the icons horizontally */
    gap: 20px; /* Add space between icons */
}

.social-icons a {
    color: #000; /* Icon color */
    font-size: 40px; /* Icon size */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.social-icons a:hover {
    color: #0077b5; /* LinkedIn blue for hover effect, change as desired */
}

#ascii-art {
    color: #12d640;
}

#about {
    width: 930px; 
}

/* Add this to your app.css */
.about-title, .experience-title {
    display: inline-block;
    position: relative; /* This makes the pseudo-element positioning relative to the title */
    color: #12d640;
    font-size: 2rem;
    width: 100%; 
}

.about-title::after, .experience-title::after {
    content: ''; /* This is necessary for the pseudo-element to display */
    position: absolute;
    top: 110%; /* Aligns the line vertically to the middle of the text */
    left: 0%; /* Starts the line right after the text */
    width: 100%; /* Adjusts the line length; modify as needed */
    border-bottom: 4px solid #12d640; /* Customize the line color and thickness */
    transform: translateY(-50%); /* Ensures the line is centered vertically with respect to the text */
}

.profile-container { 
    display: flex;
    align-items: flex-start; /* Aligns the items to the top of the container */
    gap: 20px; /* Adjust the gap between the image and the text as needed */
    border-radius: 50%; 
    object-fit: cover; 
    padding-left: 8px; 
}

.profile-container p {
    margin-top: 0; /* Removes the top margin from the paragraph */
}

.text-container ul {
    list-style: none; /* Removes default list bullets */
    padding: 0; /* Removes default padding */
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    gap: 10px; /* Adjusts the gap between grid items */
    list-style-type: none; /* Removes default list bullets */
}

.info-grid li {
    display: flex;
    align-items: center; /* Centers the icon and text vertically */
}

.info-grid li i {
    margin-right: 8px; /* Adjusts spacing between the icon and text */
}


.text-container p, .text-container ul {
    margin: 0; /* Removes default margin from paragraphs and lists */
    padding-left: 20px; /* Adds some padding for text alignment */
    padding-bottom: 20px; 
}


.profile-pic {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio of the image */
    padding-left: 10px; 
    border-radius: 50%; 
    object-fit: cover; 
    padding: 3px; 
    background-color: #FFF; 
    box-sizing: border-box;
}

.rain-animation-container {
    position: relative;
    height: 400px; /* Adjust based on your preference */
    overflow: hidden;
}

.windows .window-line {
    height: 2px;
    background-color: #fff; /* White lines */
    width: 80%;
    position: relative;
}

/* Basic symbol styling */
.symbol {
    position: absolute;
    width: 30px; /* Adjust based on your symbol size */
    height: auto;
    z-index: 1; /* Ensure symbols are behind the window lines (adjust as needed) */
}

@keyframes fall {
    0% { top: -50px; }
    100% { top: 100%; }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Behind the text */
}

.particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #00ff00; /* Green color for visibility */
    opacity: 0.2;
}

.experience-pic {
    max-width: 100px; /* Adjusts the maximum width to 100px */
    max-height: 100px; /* Adjusts the maximum height to 100px */
    width: auto; /* Ensures the width adjusts to maintain the aspect ratio */
    height: auto; /* Ensures the height adjusts to maintain the aspect ratio */
}

.event {
    display: flex; /* Use Flexbox to layout children side by side */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center the items horizontally */
    margin-bottom: 30px; 
    width: 95%; 
    padding-left: 20px; 
}

.timeline .event {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
}

.umd-pic {
    margin-right: 10px; 
    margin-bottom: 80px; 
    max-width: 100px; /* Adjusts the maximum width to 100px */
    max-height: 100px; /* Adjusts the maximum height to 100px */
    width: auto; /* Ensures the width adjusts to maintain the aspect ratio */
    height: auto;
    align-items: center;    
    flex-shrink: 10; 
}

.aws-pic {
    flex-shrink: 10; /* Prevent the image from shrinking */
    max-width: 120px; /* Adjusts the maximum width to 100px */
    max-height: 100px; /* Adjusts the maximum height to 100px */
    width: auto; /* Ensures the width adjusts to maintain the aspect ratio */
    height: auto; /* Ensures the height adjusts to maintain the aspect ratio */
    border-radius: 5%; /* Makes the background circle */
    background: white; /* Sets the background color to white */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Adds space between the picture and the circular background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow around the image */
    margin-bottom: 80px; 
}

.description-card {
    flex-grow: 1; /* Allow the description card to fill the remaining space */
    max-width: 800px; 
    text-align: left; 
}

.description-card .company {
    font-size: 1.2em; /* Larger font size for emphasis */
    font-weight: bold; /* Make it bold */
    color: #FBFAF5; /* Dark color for contrast */
    margin-bottom: 8px; /* Space below the company name */
}

.description-card .position {
    font-size: 1.1em; /* Slightly larger than normal text */
    color: #FBFAF5;  /* Subtle color */
    margin-bottom: 5px; /* Space below the position */
}

.description-card .dates {
    font-size: 0.9em; /* Smaller font size */
    color: #FBFAF5; /* More subtle color */
    margin-bottom: 10px; /* Space before the description starts */
}

.description-card .description {
    font-size: 0.9em; /* Readable font size */
    color: #FBFAF5; /* Slightly darker than dates for readability */
    line-height: 1.5; /* Improve readability */
}

.description-card ul {
    padding-left: 20px; /* Indent for list items */
}

.description-card ul li {
    margin-bottom: 5px; /* Space between list items */
}
